<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @person.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @person.lname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @person.address %>
</p>

<p>
  <strong>Is_alive:</strong>
  <%= @person.is_alive %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
